<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/db_portfolio</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <mapping class="de.gruppe4.datenbankenportfolio.Adresse" />
        <mapping class="de.gruppe4.datenbankenportfolio.Arbeitgeber" />
        <mapping class="de.gruppe4.datenbankenportfolio.KeyAccountManager" />
        <mapping class="de.gruppe4.datenbankenportfolio.Ort" />
        <mapping class="de.gruppe4.datenbankenportfolio.Versicherter" />
        <mapping class="de.gruppe4.datenbankenportfolio.Vertrag" />
    </session-factory>
</hibernate-configuration>